.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.container button {
  padding: 8px 12px;
  border: none;
  background-color: rgb(120, 125, 196);
  color: #fff;
  cursor: pointer;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: no-drop;
}
